.react-chatbot-kit-chat-container {
    width: 100% !important;
}

.react-chatbot-kit-chat-header {
    font-family: 'Public Sans', sans-serif;
}

.react-chatbot-kit-chat-bot-message {
    width: 100% !important;
}
